#block3b {
	max-width: 100vw;

	& #address {
		width: 95%;
	}
}
.cell {
	display: flex;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
			grid-gap: 1rem;
			margin: 0 5vw;
			text-align: center;

			& .cellIcon amp-img {
				height: 5rem;
			}
	
}

@media (--ipad-landscape-menu-query) {
    #block3b {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 1.7rem;

		& .cellIcon {
			/* display: flex;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
			grid-gap: 1rem;
			grid-template-rows: repeat(2, 435px);
			margin: 0 5vw; */

			& a {
				text-decoration: none;
				color: #f7f7f7;
			}
		}
	}
}
@media (--iphone-x-landscape-menu-query) {
    #block3b {
		top: -2rem;
		position: relative;
	}
}
@media (--ipad-portrait-menu-query) {
    #block3b {
		display: flex;
		display: grid;
		grid-template-columns: 1fr;
		position: relative;
		top: 0;
		/* margin-bottom: 4rem; */
	}
}
@media (--mobile-menu-query) {
    #block3b {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 1.7rem;
		color: #f7f7f7;
	}
}
@media (--mobile-landscape-menu-query) {
    #block3b {
		}
}
@media (--narrow-portrait-menu-query) { 
    #block3b {
		display: flex;
		padding: 3.7rem 0.3rem 2.7rem;

	}
}
@media (--mobile-nav-off-menu-query) {
}
@media (--ipad-landscape-plus-menu-query) {

    #block3b {
		display: flex;
        display: grid;
        justify-content: center;
        flex-wrap: wrap;
        padding: 1.7rem;
		color: #f7f7f7;
		grid-template-columns: 1fr;
		top: 5rem;
		position: relative;
		/* margin-bottom: 2rem; */
	}

}

@media (--large-desktop-query) {
#block3b {
}
}