.page-template-contact {

    & #contactUsBlock {
        padding-top: 4rem;
        display: flex;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
        grid-gap: 2rem;

        & .leftBlock,
        & .rightBlock {
            width:95%;
            margin-left: auto;
            margin-right: auto;
            @media (--ipad-landscape-plus-menu-query) {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }

        & .leftBlock {
            & #googleMap {
                padding-bottom: 2rem;
            }
        }
    }

    & .rightBlock {
        margin-left: -1rem;
    }

        & #phone a {
            color: #333;
            text-decoration: none;
            font-size: 1rem;
        }

        & ul {
            margin: 0 0 1.5em 1em;

            & li {
                font-size: 1rem;
                list-style: none;
            }
        }
    }
}