.page-template-product-line {
    & a {
        color: #333;
        text-decoration: none;
    }
    & a:hover {
        color: #333;
    }
    & .productBlocks {
        display: flex;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 2rem;
        grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
        margin: 0 5vw;
        text-align: center;
        justify-content: center;

        & .productItem {
            /* margin: 2rem auto; */
            /* background: #fff; */
        }
        & .companyBlock {
            display: flex;  
            text-align: center;
            justify-content: center;
            padding-top: 1rem;
            background: #fff;

        & .companyLogo amp-img {
            padding: 0.5rem 1rem;
        }   
    }
            & .collection {
                background: rgba(250,250,250,0.9);
                padding: 2rem;

                & h3 {
                    text-align: left;
                    font-size: 1.3rem;
                }   
                & ul {
                    margin: 0;
                    text-align: left;

                    & li {
                        font-size: 1rem;
                    }
                } 
            }
        }

    & #amp-lightbox-gallery {
        font-size: 2rem;
        margin-top: -3rem;
    }

    & main {
        padding-top: 4rem;
    }
    @media (--narrow-portrait-menu-query) {
        & .productBlocks {
            margin: 0;
        }
        & #carouselHero,
        & #carouselHero amp-img {
            top: -4rem;
        }
    }
}