.page-template-services {
    
    & #block1 {
        & p {
            font-size: 0.9rem;
        }
        
        @media (--ipad-landscape-plus-menu-query) {
            & #contentBlock {
                min-height: 26rem;
            }
        }
    }
}

@media (--narrow-portrait-menu-query) {
   
    .page-template-services {
        & .site-description {
            top: -3rem;
    width: 100vw;
    font-size: .7rem;
    padding: 1rem;
        }
    & #block1.evenBlock,
    & #block1.oddBlock {
        & #contentBlock {
        min-height: 26rem;
    }
}
}
}